.Chapters {
    margin-top: 49px;
    width: 100%;
    height: fit-content;
    min-height: calc(100vh - 177px);
    background-image: url(../../../assets/images/chapters/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}